{% set CYCLE_LETKF_SRCS = "/discover/nobackup/cda/develop_space/cycle-oletkf" %}

{% set GEOS_DIR = "/discover/nobackup/projects/gmao/scda_iesa/cda/GEOSgcm_08Nov2022/install" %}
{% set FWD_EXEC = "/discover/nobackup/projects/gmao/scda_iesa/cda/GEOSgcm_08Nov2022/install/bin/GEOSgcm.x" %}
{% set SITE = "NCCS" %}

{% set RECENTER_EXEC_DIR = "/discover/nobackup/cda/develop_space/GEOSFV3-LETKF/build_discover/utils" %}
{% set NPROCS_RECENTER = 3 %}

{% set HPC_GROUP_ACCOUNT = "s2647" %}
{% set HPC_QOS = "allnccs" %}

{% set NJOBS_FOR_PREP_GEOS = 5 %}
{% set NJOBS_FOR_FCST_GEOS = 4 %}
{% set NJOBS_FOR_SAVE_GEOS = 5 %}
{% set NJOBS_FOR_PREP_RECENTER = 5 %}
{% set NJOBS_FOR_SAVE_RECENTER = 5 %}

{% set SKIP_OPT_CLEAN_TMP = "--skip" %}


{% set MEMBERS = 3 %}
{% set CENTER_DIR = "/discover/nobackup/cda/projects2/atms_recenter_m3/center" %}
{% set EXP_DIR= "/discover/nobackup/cda/projects2/atms_recenter_m3" %}
{% set SHARED_TMP_DIR= "/discover/nobackup/cda/projects2/tmp_atms_recenter_m3" %}
{% set INITIAL_CYCLE_POINT = "2019-09-21T21Z" %}
{% set FINAL_CYCLE_POINT = "2019-09-21T21Z" %}

{% set FCST_HRS = 24 %}


