{% set MEMBERS = 2 %}
{% set LIB_SRCS = "/discover/nobackup/cda/develop_space/cycle-oletkf/cylc/enfcst_jinja2/bin" %}
{% set CYCLE_LETKF_SRCS = "/discover/nobackup/cda/develop_space/cycle-oletkf" %}

{% set INITIAL_CYCLE_POINT = "2022-01-01T00Z" %}
{% set FINAL_CYCLE_POINT = "2022-01-01T00Z" %}

{% set SHARED_TMP_DIR="/discover/nobackup/cda/projects2/tmp" %}

{% set EXP_DIR="/discover/nobackup/cda/projects/test_cylc/test_prep_bkgd" %}
