{% set CYCLE_LETKF_SRCS = "/discover/nobackup/cda/develop_space/cycle-oletkf" %}

{% set GEOS_DIR = "/discover/nobackup/projects/gmao/scda_iesa/cda/GEOSgcm_08Nov2022/install" %}
{% set FWD_EXEC = "/discover/nobackup/projects/gmao/scda_iesa/cda/GEOSgcm_08Nov2022/install/bin/GEOSgcm.x" %}
{% set SITE = "NCCS" %}

{% set OLETKF_EXEC_DIR = "/discover/nobackup/cda/develop_space/develop_ocean_letkf/Ocean-LETKF-v5/cbuild_esma/src" %}
{% set NPROCS_LETKF = 10 %}

{% set HPC_GROUP_ACCOUNT = "s2647" %}
{% set HPC_QOS = "allnccs" %}


{% set NJOBS_FOR_PREP_GEOS = 5 %}
{% set NJOBS_FOR_FCST_GEOS = 5 %}
{% set NJOBS_FOR_SAVE_GEOS = 5 %}
{% set NJOBS_FOR_OBSOP = 5 %}
{% set NJOBS_FOR_PREP_LETKF = 5 %}
{% set NJOBS_FOR_SAVE_LETKF = 5 %}

{% set MEMBERS = 3 %}
{% set EXP_DIR="/discover/nobackup/cda/projects2/odas3_queue2" %}
{% set SHARED_TMP_DIR="/discover/nobackup/cda/projects2/tmp_queue2" %}
{% set INITIAL_CYCLE_POINT = "2017-01-01T00Z" %}
{% set FINAL_CYCLE_POINT = "2017-01-01T06Z" %}

{% set FCST_HRS = 6 %}


